.body1-container{
    margin: auto;
    background: url('../../asset/img/container/stacked-waves-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.body1-about-us-p{
    padding-right: 10%;
    padding-left: 10%;
}

.about-us-image{
    width: 85%;
    min-width: 250px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
}

.swiper-personaliti-sectiopn{
    width: 85%;
    height: 550px;
    max-width: 450px;
    min-width: 300px;
    --swiper-theme-color:rgb(255, 255, 255);
    padding-bottom: 30px;
}
.swiper-personaliti-sectiopn .swiper-slide{
    background-color: rgba(224, 224, 224, 0.5);
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    overflow-y: scroll;
    color: black;
}
.swiper-personaliti-sectiopn .swiper-slide img{
    width: 270px;
    height: 180px;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 10px ;
}


