.header-section-style{
   height: 35rem;
}

.parallax-bg{
    background-image: url('../../asset/img/header/headerImg1.jpg');
    background-color: black;
    position:absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    background-color: rgba(0, 0, 0, 0.450);

}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
  